body{
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    position:relative;
    font-size:1em;
}

.wraper{
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    flex-direction:column;
    justify-content:start;
    align-items: start;

}

.forinput{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width:100vw;
    height:10em;
    border: 1px solid rgb(28, 38, 46);
    margin: 0 auto;
    padding-left:1em;
    padding-bottom: 2em;
}
.generalinput{
    border-radius:10px;
    height:2em;
    width:16em;
    border-color:rgb(134, 112, 112);
}
.btn-add{
    width:5em;
    height:2em;
    border-radius:10px;
    box-shadow:2px 3px rgb(46, 44, 44);
}
.forwallets{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1em 1em 1em 1em;
    flex-direction: row;
    justify-content: start;
    margin:0 auto;
    gap:0.5em;
}
.walletblock{
    border:1px solid rgb(46, 44, 44);
    display: flex;
    flex-direction: column;
    padding:0.1em 0.1em;
    justify-content: center;
    align-items: center;
    position:relative;
    box-shadow:2px 3px gray;
    width: 15%;
    text-align: center;
    overflow:hidden;
}

.walletblock::before{
    content:'';
    position:absolute;
    width:20%;
    border:1px dashed rgb(80, 45, 45);
   top:0.4em;
    left:-30px;
    transition:0.5s;
}
.walletblock::after{
    content:'';
    position:absolute;
    width:20%;
    border:1px dashed rgb(80, 45, 45);
    bottom:0.4em;
    right:-30px;
    transition: 0.5s;
}
.walletblock:hover::before{
    content:'';
    position:absolute;
    width:20%;
    border:1px dashed rgb(80, 45, 45);
   top:0.4em;
    left:0;
}  
.walletblock:hover:after{
    content:'';
    position:absolute;
    width:20%;
    border:1px dashed rgb(80, 45, 45);
    bottom:0.4em;
    right:0;
}
.outputdisplay{
    width:100%;
    position: relative;
    display:flex;
    flex-direction: column;
}
.closeoutput{
    color: rgb(232, 236, 238);
    background-color: rgb(158, 8, 78);
    position:absolute;
    width:1.5em;
    height:1.5em;
    right:10px;
    top:10px;
    box-shadow: 1px 2px rgb(21, 1, 24);
    z-index: 3;
}
.graph{
    width:100%;
    min-height:40vh;
    border:1px solid;
    display: flex;
    flex-direction: row;;
    justify-content: start;
    align-items: flex-end;
    position: relative;
    gap: 0.1em;
    padding-top:0.5em  ;
    padding-left:0.5em  ;
    overflow:auto;
    scroll-behavior: auto;

}

.active{
    border:2px solid rgb(129, 13, 207);
}
.bar{
    width:1em;
    height:50%;
    background-color: rgb(110, 108, 112);
}
.controlpages{
    display: flex;
    height:1em;
    justify-content: center;
    align-items: center;
    gap:0.3em;

}
.messagesfield{
    display:flex;
    flex-direction: row;
    gap:0.35em;
    position: relative;
   
}
.messagesfield p{
    border :1px solid grey;
    border-radius: 5px;
    color: rgb(43, 24, 43);
    background-color: rgba(163, 157, 163,0.5);
}
.errorsfield{
    position:relative;
    width:100%;
}
.errorsfield p{
    color:red;
    position: absolute;
    top: 1em;
    left : 1em;
}
.filter{
    display:flex;
    position:relative;
    align-items: center;
    justify-content: start;
    gap: 0.3em;
    width:100%;
    max-height:1.5em;
    padding-left:2em;
}
.btn{
    min-width:2.5em;
    min-height:1.5em;
    border-radius:1em;
    box-shadow:2px 3px rgb(46, 44, 44);
    transition:0.3s;
}
.btn:hover{
    box-shadow:3px 4px rgb(32, 31, 31);  
}
.filterinput{
    width:3em;
    height:1em;
    border-radius: 0.3em;
   
}
.down{
    background-color:rgba(214, 0, 0, 0.767);
}
.up{
    background-color:rgba(29, 230, 29, 0.89);
}
.disabled{
    background-color: rgb(240, 138, 163);
    opacity: .7;
}